<!DOCTYPE html>
<html>
    <head>
        <title>Mappy's dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="css/dashboard.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <img id="title" src="img/title.png" />
        <div class="container">

            <div class="span8 large">

                <section id="audience" class="widget">
                    <h2>L'audience en direct</h2>
                    <div class="row">
                        <div class="audience span4">
                            <p class="web"></p>
                        </div>
                        <div class="audience span4">
                            <p class="mobile"></p>
                        </div>
                    </div>
                    <script type="text/template" id="audience-count">
                        <%= count %> <p><small>visites aujourd&lsquo;hui</small></p>
                    </script>
                </section>


                <section id="social" class="widget">
                    <div class="row">
                        <div class="span3">
                            <h2>Médias sociaux</h2>
                            <p class="facebook fans"></p>
                            <script type="text/template" id="facebook-fans">
                                <%= fan_count %> <small>fans</small>
                            </script>

                            <p class="twitter followers"></p>
                            <script type="text/template" id="twitter-followers">
                                <%= followers %> <small>followers</small>
                            </script>

                        </div>
                        <div class="span5">
                            <div class="twitter tweets"></div>
                            <script type="text/template" id="twitter-tweet">
                                <p class="tweet">
                                    <img src="<%= user.profile_image_url %>"/><%= cleanText %> par <i>@<%= user.screen_name %></i> <small>le <%= date %></small>
                                </p>
                            </script>
                        </div>
                    </div>
                </section>

                <section id="feed" class="widget">
                    <h2>Derniers posts Facebook</h2>
                    <div class="row">
                        <div class="span8">
                            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fmappyonline&amp;width=670&amp;height=410&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;show_border=false&amp;header=false&amp;appId=164566463720842" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:670px; height:410px;" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </section>
            </div>

            <div class="span4 small">
                <section id="edito" class="widget">
                    <article class="edito">
                        <h2>On en parle</h2>
                        <div></div>
                    </article>
                </section>

                <section id="collecte" class="widget">
                    <h2>Collecte</h2>
                    <div class="sliding">
                        <article class="outdoor">
                            <h3>Outdoor</h3>
                            <div id="outdoorMap" class="map"></div>
                        </article>
                        <article class="indoor">
                            <h3>Indoor</h3>
                            <div id="indoorMap" class="map"></div>
                        </article>
                    </div>
                </section>

                <section id="data" class="widget">
                    <article class="pois">
                        <h2>Le saviez-vous</h2>
                        <p class="count"></p>
                        <script type="text/template" id="pois-count">
                            <%= count %> <p><small>Poi en base</small></p>
                        </script>
                    </article>
                </section>

            </div>
        </div>
        <script src="js/lib/jquery-1.9.1.min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="http://axe.mappy.com/1v2/mappy_new/init/get.aspx?auth=aRjYy8tqadUyMFb5REsAjn6CI%2FZX7buZht%2B16G831ScBVn3j6SLoDRKxpP%2B%2BG9q3mMRDcqmSMP9MUnVqV554fg%3D%3D&version=4.01&solution=ajax&putcookie=done"></script>
        <script src="js/dashboard.js"></script>
    </body>
</html>
