body {
    margin: 80px 0 1em 1em;
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}
i { color: blue; }
h2 { margin: 0; color: #333; font-size: 24px;}
h3 { margin: 0; color: #444; font-size: 20px; }
#title {
    top: 0;
    left: 0;
    position: absolute;
}
.container {
    width: 1240px;
}
.small { width: 482px; }
.large { width: 698px; }
.widget {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
    margin-bottom: 14px;
}
.widget small {
    font-size: 20px;
}

#social .facebook.fans {
    background: url(../img/facebook_like.png) no-repeat 0 0;
    margin-top: 20px;
    padding: 16px 0 0 65px;
    color: #00346B;
    font-size: 30px;
    min-height: 50px;
}
#social .twitter.followers {
    background: url(../img/twitter.png) no-repeat 0 0;
    margin-top: 20px;
    padding: 10px 0 0 65px;
    color: #1EB6E9;
    font-size: 30px;
    min-height: 50px;
}
#social .span3 { width: 240px; }
#social .span5 { width: 360px;}
#social .twitter.tweets { font-size: 14px;}
.widget .twitter.tweets small { font-size: 10px;}
#social .twitter.tweets .tweet img { margin-right: 4px; float: left;}

#audience, #edito, #data {
    height: 130px;
}

#collecte {
    height: 560px;
}

#social {
    height: 236px;
}

#feed {
    height: 455px;
    overflow: hidden;
}

#data .pois .count {
    background: url(../img/poi.png) no-repeat 0 30px;
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 0 0 90px;
    color: #333;
    font-size: 30px;
}

#audience .audience .web,
#audience .audience .mobile {
    font-size: 30px;
    min-height: 60px;
    margin-bottom: 0;
}
#audience .audience .web {
    background: url(../img/web.png) no-repeat 2px 8px;
    padding: 30px 0 0 90px;
}

#audience .audience .mobile {
    background: url(../img/mobile.png) no-repeat 15px 8px;
    padding: 30px 0 0 70px;
}

#collecte .map { width: 460px; height: 460px; }
